
# gitignore Documentation - http://git-scm.com/docs/gitignore

# Log file
log/
logs/
*.log

# TestNG
test-output/

# Gradle
.gradle/

# Maven
target/

# IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project
